<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <!-- Fontawesome 6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        <div class="container">
            <h1>Todo List</h1>
            <ul v-if="tasks.length > 0">
                <li v-for="(task, index) in tasks" :class="task.done === true ? 'done' : ''">
                    <h2 :class="{'done': task.done, 'notShow': task.edit}" @click="switchStatus(index)" @contextmenu="showEdit(index)">
                        {{ task.text }}
                    </h2>
                    <input type="text" :class="task.edit === true ? 'show' : 'notShow'" @keyup.enter="editTask(index)" v-model="editContent">
                    <section id="options">
                        <i class="fa-solid fa-toilet-paper" @click="eliminateTask(index)"></i>
                    </section>
                </li>
            </ul>
            <p v-else>No tasks here, add a new one</p>
            <section id="newTask">
                <h3>Do you want to add a task?</h3>
                <div class="inputs">
                    <input type="text" v-model="newContent"  @keyup.enter="addTask" placeholder="Write here the task">
                    <button @click="addTask">Add</button>
                </div>
            </section>
        </div>
        <section class="tips">
            <h4>Hi, happy to see you here.</h4>
            <p>Some tips to use this document:</p>
            <p>If you want to delete a task, plese click on the <i class="fa-solid fa-toilet-paper"></i> icon</p>
            <p>If you want to edit a task, right-click on the text you want to change, then press enter</p>
            <h4>Made with <i class="fa-solid fa-heart"></i> by <a href="https://github.com/giordanofabrizii">Giordy</a></h4>
        </section>
    </div>

    <script src="js/script.js"></script>
</body>
</html>